*.md~
*.gitignore~
*.css~
*.php~
*.bfproject
*.py[cod]
*.sh~
*.py~
*.log
*.template~
*.inc~
*.shtml~
*.nja
__init__.py
*.html~
*.js~

# configs etc
admin_srb_conf.php
db_config.py
_db_config.py
mpd_config.py
*conf.sh

# with paths or special conigs
play_out_actions.php
play_out_loader_akt_stunde.py
audio_switch_controller.php

# infos
wichtig
wichtig~

# Projects
.eric4project/
*.e4p

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
#parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
