#!/bin/bash

fb_db="mydb.fdb"
fb_db_backup="my.fbk"
fb_db_backup_log="/home/my-home/srb-firebird-backup/backup_db_manuell.log"
fb_programm="/var/lib/firebird/2.5/data/"

if [ -f $fb_db_backup_log ]; then 
	rm $fb_db_backup_log
fi
gbak -b -v -user myuser -pass mepw $fb_programm$fb_db $fb_db_backup -y $fb_db_backup_log

exit

