#!/bin/bash
#
# This script is for config backing up firebird-db
#
# Author: Joerg Sorge
# Distributed under the terms of GNU GPL version 2 or later
# Copyright (C) Joerg Sorge joergsorge at gmail.com
#
# Config for backup

fb_db_user=""
fb_db_pw=""
fb_db_active=""
fb_db_backup=""
fb_db_backup_log=""
fb_db_location=""
