#25 6 * * * /home/my-server/srb-tools/play_out_archiv.py && exit 
#1 * * * * /home/my-server/srb-tools/play_out_protokoll.py && exit 
#56 * * * * /home/my-server/srb-tools/play_out_loader.py && exit 
#10 0 1 1 * /home/my-server/srb-tools/statistik_user_active.py && exit 
#10 0 1 4 * /home/my-server/srb-tools/statistik_user_active.py && exit 
#10 0 1 7 * /home/my-server/srb-tools/statistik_user_active.py && exit 
#10 0 1 10 * /home/my-server/srb-tools/statistik_user_active.py && exit 
#50 * * * * /home/my-server/srb-tools/play_out_preview.py && exit 
#15 6-20 * * * /home/my-server/srb-tools/beamer_podcast.py && exit 
#30 * * * * /home/my-server/srb-tools/play_out_repeat_proto.py && exit 
#45 * * * * /home/my-server/srb-tools/play_out_extern_vp.py && exit 
#*/2 * * * * /home/my-server/srb-tools/log_tweeter_v3.py && exit
#46 * * * * /home/my-server/srb-tools/play_out_reminder.py && exit 
#*/3 * * * * /home/my-server/srb-tools/watch_dog_mp3_gain.py && exit 
#35 9 * * 3 /home/my-server/srb-tools/play_out_dublikator.py && exit 
#51 11 * * * /home/my-server/srb-tools/play_out_extern_news.py && exit 
#58 * * * * /home/my-server/srb-tools/live_record.py && exit 
#8 * * * * /home/my-server/srb-tools/statistik_webstream.py && exit 
#12 * * * * /home/my-server/srb-tools/beamer_vp_periodisch.py && exit
#18 * * * * /home/my-server/srb-tools/beamer_vp.py && exit
#39 * * * * /home/my-server/srb-tools/exchange_finder.py && exit
#59 * * * * /home/my-server/srb-tools/audio_switch_timer.py && exit
#4 * * * * /home/my-server/srb-tools/audio_switch_timer.py && exit
#29 * * * * /home/my-server/srb-tools/audio_switch_timer.py && exit
#20 4 * * 6 /home/my-server/srb-tools/backup_media_archiv.sh && exit
#20 3 * * * /home/my-server/srb-tools/backup_media_play_out.sh && exit
