#!/usr/bin/env python
# -*- coding: utf-8 -*-
# db-config
# teh config file may be created thru /install/config_firebird.sh

db_name = ""
db_user = ""
db_pw = ""

db_log_name = ""
db_log_user = ""
db_log_pw = ""
